
/* Body styling */
body {
    background-image: url("images/background6");
    background-repeat: no-repeat;
    background-size: cover;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Navbar Styles */
  
  .navbar {
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
  .nav-link.active {
    color: #fff;
    font-weight: bold;
  }
  
  /* Movie Container Styles */
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
  }
  
  .genre {
    margin: 20px;
  }
  
  .genre h2 {
    margin-top: 0;
  }
  
  .movie-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-list li {
    margin: 20px;
  }
  
  .movie-list a {
    text-decoration: none;
    color: #333;
  }
  
  .movie-list a:hover {
    color: #666;
  }
  
  .movie-image-1, .movie-image-2, .movie-image-3, .movie-image-4, .movie-image-5, .movie-image-6, .movie-image-7, .movie-image-8, .movie-image-9, .movie-image-10 {
    width: 150px; /* adjust the width as needed */
    height: 200px; /* adjust the height as needed */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .movie-list p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .movie-list h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  .movie-list h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0;
  }

  .movie-image-1, .movie-image-2, .movie-image-3, .movie-image-4, .movie-image-5, .movie-image-6, .movie-image-7, .movie-image-8, .movie-image-9, .movie-image-10 {
    transition: transform 2.4s ease; /* add transition effect */
  }
  
  .movie-image-1:hover, .movie-image-2:hover, .movie-image-3:hover, .movie-image-4:hover, .movie-image-5:hover, .movie-image-6:hover, .movie-image-7:hover, .movie-image-8:hover, .movie-image-9:hover, .movie-image-10:hover {
    transform: translateY(-30px); /* move the image up by 10px on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* add a subtle shadow effect */
  }

   
    
    
     
    
      